body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #2f2f2f;
  line-height: 1.8;
}

#myNavbar a{
  color: #e2e2e2;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('https://goncaloferreira966.github.io/Projeto_RR/assets/parallax1.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("https://goncaloferreira966.github.io/Projeto_RR/assets/parallax2.jpg");
  min-height: 600px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("https://goncaloferreira966.github.io/Projeto_RR/assets/parallax3.jpg");
  min-height: 600px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}


/* width */
::-webkit-scrollbar {
  width: 0px !important;
}

footer a {
  text-decoration: none;
  transition: color 0.3s;
  font-size: 30px;
  padding: 5px;
}

footer p {
  font-size: 17px;
  padding: 5px;
}