.parallax {
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    color: white; /* Para texto ficar visível no parallax */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  
  .parallax h1, .parallax h2, .parallax p, .parallax a {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }



  @media (prefers-color-scheme: dark) {
    #services, #about, #contact{
        background-color: black !important;
    }

    h1,h2,h3,h4,p{
        color: white !important;
    }

    .navbar{
        background-color: transparent !important;
    }

    .footer{
        background-color: black !important;
    }
  }
  @media (prefers-color-scheme: light) {


    #services, #about, #contact{
        background-color: white !important;
    }

    .navbar{
        background-color: transparent !important;
    }
    .footer{
        background-color: white !important;
    }
    h1,h2,h3,h4,p{
        color: black !important;
    }

    #home h1, #home p, #cont h2, #cont p, #cont h1{
        color: white !important;
    } 
  }